body, #quote, #author {
    display: flex;
    justify-content: center;
}

.quoteBox {
    display: flex;
    flex-direction: column;
    margin: 250px;
    padding: 50px;
    width: 80%;
    border: 2px solid grey;
    border-radius: 20px;
}

#quote {
    font-family: "Didot";
    text-align: center;
    font-size: 30px;
}

#author {
    margin-top: 10px;
    font-family: "Didot";
    font-size: 35px;
}